.v-note-navigation-content
  flex 1
  padding 10px 5px
  h1, h2, h3, h4, h5, h6
    margin 3px 0px
    font-weight 500
    font-size 18px
    color #B7B7B7
    cursor pointer
    line-height normal
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    padding 0 12px
    border-bottom none
    &:hover
      color #EEEEEE
      text-decoration-line underline
  h2
    padding-left  27px
    font-size 17px
  h3
    padding-left  42px
    font-size 17px
  h4
    padding-left  58px
    font-size 15px
  h5
    padding-left  72px
    font-size 15px
  h6
    padding-left  87px
    font-size 15px